
.testimonial_sec {
	background-image: url(../../images/bg9.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 135px 0 190px;
}
.testi_sec {
	text-align: center;
}
.testi_sec .sec-title {
	margin-bottom: 47px;
}
.testi_sec .sec-title h2 {
	color: #fff;
}
.testi_slide > p {
	color: #fff;
	line-height: 30px;
	margin-bottom: 53px;
	max-width: 830px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.user-col {
	width: 100%;
}
.user-img {
	width: 170px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
}
.user-img:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 57px;
	height: 57px;
	background-color: #6836ff;
	text-align: center;
}
.user-img:after {
	content: '';
	position: absolute;
	top: 18px;
	right: 15px;
	width: 27px;
	height: 21px;
	background-image: url(../../images/quote.png);
	background-repeat: no-repeat;
}
.user-img img {	
	width: 100%;
	margin: 0;
}
.user-info {
	width: 100%;
	float: left;
}
.user-info > h3 {
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 3px;
}
.user-info > span {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 10px;
	color: #fff;
}
.rating {
	display: block;
}
.rating li {
	display: inline-block;
	margin-right: -4px;
}
.rating li i {
	display: inline-block;
	color: #fd9f26;
	font-size: 16px;
}


.testi_sec .slick-prev, .testi_sec  .slick-next  {
	width: 60px;
	height: 40px;
	background-color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	right: 0;
	border:1px solid #0207b3;
}
.testi_sec .slick-prev:hover, 
.testi_sec .slick-next:hover {
	background-color: #fd9f26;
	border-color: transparent;
}
.testi_sec .slick-prev:hover:before,
.testi_sec .slick-next:hover:before {
	color: #fff;
}
.testi_sec .slick-prev {
	margin-right: 0;
	right: auto;
	left: 100px;
}
.testi_sec .slick-next {
	right: 100px;
}
.testi_sec .slick-prev:before {
	content: '\f177';
}
.testi_sec .slick-next:before {
	content: '\f178';
}