

.banner-section {
	background-image: url(../../images/resources/banner-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 300px 0 250px; 
}
.banner-text {
	width: 50%;
	position: relative;
	float: left;
	padding-top: 60px;
}
.banner-text > h2 {
	color: #ffffff;
	font-size: 50px;
	line-height: 66px;
	font-weight: 700;
	margin: 0 0 20px;
}
.banner-text > p {
	margin-bottom: 50px;
	max-width: 515px;
	color: #fff;
}
.banner-text > .btn-default {
	background-color: #fff;
	color: #222;
	border-color: #fff;
}
.banner-text > .btn-default:hover {
	border-color: #fff;
}
.btn-default {
	display: inline-block;
	color: #110802;
	font-size: 16px;
	font-weight: 700;
	height: 60px;
	line-height: 56px;
	padding: 0 40px;
	text-transform: capitalize;
	border:2px solid #6836ff;
}
.btn-default:hover {
	background-color: #6836ff;
	color: #fff;
}

.vectorr_shape {
	float: right;
	width: 40%;
}
.vectorr_shape > img {
	width: 100%;
}
